.details-container h1 {
  font-size: 2em;
  text-align: center;
}

.details-container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  line-height: 1.7;
}

.map {
  text-align: center;
  margin: 1.5em auto;
}

.click-details {
  width: 90%;
  background-color: #eee;
  margin: 2em auto;
  text-align: left;
  padding: 1em 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.map-heading span,
.far {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  font-style: normal;
  color: #d4574a;
}

.map-frame {
  width: 100%;
  padding: 3em;
}

/* Medium Screen Media Query  */
@media (min-width: 768px) and (max-width: 1024px) {
  .click-details {
    /* padding: 0.5em 43em 0.5em 0.5em; */
  }
}
