/* top section */
input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}

.btn-list {
  background-color: #d4574a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-list-item {
  margin: 1em 1em;
  /* border: 1px solid black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  box-shadow: 0 4px 8px #aaa;
  text-align: center;
  width: 85%;
  margin: 3em auto;
}

.game-list-container h2 {
  margin: 1em 0.7em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-list-item img {
  width: 100%;
  /* border-radius: 50%; */
}

.game-list-item h3,
.game-list-item p {
  margin: 0.3em 0;
}

.btn-view {
  font-size: 0.8em;
  background-color: #d4574a;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
