/* NAVIVAGTION */
.nav-wrapper {
  /* display: flex;
  flex-direction: column; */
  background-color: #d4574a;
  color: #fff;
}

.nav-1 {
  border: 2px solid red;
  text-align: center;
  width: 100%;
  /* height: 10%; */
}

.logo {
  width: 160px;
  padding: 0;
  height: 100%;
  border: 2px solid green;
}

.nav-2 {
  border: 2px solid blue;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  text-align: center;
  padding: 1em;
  /* width: 100%; */
}

.nav-2 .fa {
  padding: 40px 9px 0px 9px;
}

.nav-2 a {
  color: #fff;
  cursor: pointer;
}

.d-lg-inline {
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Media Queries Medium Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-1 {
    text-align: left;
    /* width: 600px; */
  }
  .logo {
    width: 150px;
    padding: 0;
  }
  .nav-2 {
    margin-left: 0;
    width: 100%;
  }
  .nav-2 .fa {
    /* padding: 1em 1em;
    font-size: 1.6em; */
  }
}

/* Large Screens */
@media (min-width: 1024px) {
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-1 {
    text-align: left;
  }
  .nav-2 {
    margin-left: 7.9em;
    width: 100%;
    padding: 2.5em 0 0 0;
  }
}
