/* NAVIVAGTION */

.nav-wrapper {
  /* display: flex;
  flex-direction: column; */
}

.nav-1 {
  border: 2px solid red;
  text-align: center;
  background-color: #d4574a;
  /* width: 20%;
  height: 10%; */
}

.logo {
  width: 15%;
  padding: 0;
  /* height: 15%; */
  border: 2px solid green;
}

.nav-2 {
  border: 2px solid blue;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  text-align: center;
  padding: 1em;
}

.nav-2 .fa {
  padding: 0 1.4em;
}
