/* Top section of mid section */
.section-3 {
  margin: 50px auto;
}

.more-info {
  background-color: #e27f65;
  text-align: center;
  color: #fff;
}

.info-title,
.info-text {
  margin: 10px;
}

.img-more-info {
  width: 40%;
  border-radius: 50%;
  padding-top: 1em;
}

.info-btn {
  color: #e27f65;
  padding: 0.5em;
  margin-bottom: 1em;
}

/* Mid section of mid section */
.info-2 {
  background-color: #98a4a5;
}

.info-3 {
  background-color: #519cd7;
}
